<section id="contato" class="full-width-box">
    <header class="page-header">
      <div class="container">
        <h1 class="title">Contato</h1>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6 contact-info bottom-padding-mobile">
          <div class="row">
            <address class="col-sm-6 col-md-12">
              <div class="title">Telefone</div>
              <div>Comercial: 052-887-4471</div>
              <div>Pedagógico: 052-652-7500</div> 
            </address>
            <address class="col-sm-6 col-md-12">
              <div class="title">E-mail</div>
              <div>Comercial: <a href="mailto:comercial@nihongoninja.jp">comercial@nihongoninja.jp</a></div>
              <div>Pedagógico: <a href="mailto:pedagogico@nihongoninja.jp">pedagogico@nihongoninja.jp</a></div>	
            </address>
            <address class="col-sm-6 col-md-12">
              <div class="title">Endereço</div>
              <div>〒460-0002 Aichi-ken Nagoya-shi Naka-ku Marunouchi 1-25 3F</div>
            </address>
          </div>
        </div>

        <div class="col-sm-6 col-md-6">
          <form action="https://leadlovers.com/Pages/Index/151827" class="form-box register-form contact-form" method="post">
            <h3 class="title">Entre em contato</h3>            
            <input id="id" name="id" type="hidden" value="151827">  
            <input id="pid" name="pid" type="hidden" value="5088427">  
            <input id="list_id" name="list_id" type="hidden" value="151827">  
            <input id="provider" name="provider" type="hidden" value="leadlovers">          
            <label for="name">Nome: <span class="required">*</span></label><input class="form-control" id="name" name="name" placeholder="Informe o seu nome" type="text">        
            <label for="email">E-mail: <span class="required">*</span></label>   
            <input class="form-control" id="email" name="email" placeholder="Informe o seu email" type="text">   
            <label for="message">Mensagem: <span class="required">*</span></label>   
            <textarea class="form-control" id="message" name="message" placeholder="Digite uma mensagem ou pergunta" maxlength="500"></textarea>     
            <button class="btn btn-default" type="submit">Enviar</button> <span class="required"><b>*</b> Campo Obrigatório</span> 
            <input type="hidden" id="source" name="source" value="" />
          
            <img src="https://llimages.com/redirect/redirect.aspx?A=V&p=5088427&m=151827" style="display: none;" />
            <div id="success"></div>				
            <div class="clearfix"></div>   
            <!-- .buttons-box -->
          </form>
      </div>
    </div>
  </div>
</section>
       