<section id="cursos" class="full-width-box cm-padding-bottom-36">
  <header class="page-header">
    <div class="container">
      <h1 class="title">Cursos</h1>
    </div>
  </header>

  <div class="container">
    <div class="portfolio">
      <div class="row">
        <div class="col-sm-12 col-md-12 btn-group filter-buttons filter-list">
          <button type="button" class="dropdown-toggle" data-toggle="dropdown"> All <span class="caret"></span> </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="index.html#" data-filter="*" class="active">Todos</a></li>
            <li><a href="index.html#" data-filter=".basico">Básico</a></li>
            <li><a href="index.html#" data-filter=".intermediario">Intermediário</a></li>
            <li><a href="index.html#" data-filter=".avancado">Avançado</a></li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <!-- .filter-buttons --> 
        <!-- .price-regulator --> 
      </div>
      <div class="clearfix"></div>
      <div class="row filter-elements">
        <div class="basico col-xs-12 col-sm-4 col-md-4"> 
          <a href="/aprenda-hiragana" target="_parent" class="work"> <img class="replace-2x" src="content/img/curso2.png" width="370" height="270" alt=""> <span class="shadow"></span>
            <div class="bg-hover"></div>
            <div class="work-title">
              <h6 class="">Aprenda o Hiragana</h6>
              <div class="title">ひらがな</div>
            </div>
          </a> 
        </div>

        <div class="basico col-xs-12 col-sm-4 col-md-4"> 
          <a  class="work"><img class="replace-2x blur" src="content/img/curso1.png" width="370" height="270" alt=""> <span class="shadow"></span>
            <div class="bg-hover"></div>
            <div class="work-title">
              <h6 class="">Aprenda o Katakana</h6>
              <div class="title">Em breve!</div>
            </div>
          </a>
        </div>
        <div class="intermediario col-xs-12 col-sm-4 col-md-4"> 
          <a  class="work"> <img class="replace-2x blur" src="content/img/curso3.png" width="370" height="270" alt=""> <span class="shadow"></span>
            <div class="bg-hover"></div>
            <div class="work-title">
              <h6 class="">Aprenda Kanjis Iniciante</h6>
              <div class="title">Em breve!</div>
            </div>
          </a> 
        </div>
        <div class="intermediario col-xs-12 col-sm-4 col-md-4"> 
          <a  class="work"> <img class="replace-2x blur" src="content/img/curso4.png" width="370" height="270" alt=""> <span class="shadow"></span>
            <div class="bg-hover"></div>
            <div class="work-title">
              <h6 class="">Aprenda Kanjis Básico</h6>
              <div class="title">Em breve!</div>
            </div>
          </a> 
        </div>
        <div class="avancado col-xs-12 col-sm-4 col-md-4"> 
          <a  class="work"> <img class="replace-2x blur" src="content/img/curso5.png" width="370" height="270" alt=""> <span class="shadow"></span>
            <div class="bg-hover"></div>
            <div class="work-title">
              <h6 class="">Aprenda Kanjis Intermediário</h6>
              <div class="title">Em breve!</div>
            </div>
          </a> 
        </div>
        <div class="avancado col-xs-12 col-sm-4 col-md-4"> 
          <a  class="work"> <img class="replace-2x blur" src="content/img/curso6.png" width="370" height="270" alt=""> <span class="shadow"></span>
            <div class="bg-hover"></div>
            <div class="work-title">
              <h6 class="">Aprenda Kanjis Avançado</h6>
              <div class="title">Em breve!</div>
            </div>
          </a> 
        </div>
        
      </div>
    </div>
  </div>
</section>