<section id="equipe" class="full-width-box cm-padding-bottom-36">
  <div class="fwb-bg fwb-fixed band-5">
    <div class="overlay"></div>
  </div>
  
  <header class="page-header white">
    <div class="container">
      <h1 class="title">Equipe</h1>
    </div>
  </header>

  <div class="container">
    <div class="row text-center">
      <div class="col-sm-3 col-md-3 rotation employee">
        <div class="default">
          <div class="image"> <img class="replace-2x" src="content/img/team-1.jpg" alt="" title="" width="270" height="270"> </div>
          <div class="description">
            <div class="vertical">
              <h3 class="name">Marcos Morishigue</h3>
              <div class="role">Idealizador do projeto</div>
            </div>
          </div>
        </div>

        <div class="employee-hover">
          <h3 class="name">Marcos Morishigue</h3>
          <div class="role">Idealizador do projeto</div>
          <div class="image"> <img class="replace-2x" src="content/img/team-1.jpg" alt="" title="" width="270" height="270"> </div>
          <div>
            <p>"O objetivo principal que idealizei o Projeto Nihongo Ninja, foi para acelerar o meu próprio aprendizado."</p>
            <div class="contact"><b>Email: </b>@nihongoninja.jp</div>
          </div>

          <div class="social"> 
            <a class="icon rounded" href="index.html#">
              <span class="icon-facebook"> <i class="fa fa-facebook"></i> </span>
            </a>
          </div>
        </div>
      </div>
        <!-- .employee -->
      <div class="col-sm-3 col-md-3 rotation employee">
        <div class="default">
          <div class="image"> <img class="replace-2x" src="content/img/team-2.jpg" alt="" title="" width="270" height="270"> </div>
          <div class="description">
            <div class="vertical">
              <h3 class="name">Glaucia Guenkawa</h3>
              <div class="role">Co-idealizadora do projeto</div>
            </div>
          </div>
        </div>

        <div class="employee-hover">
          <h3 class="name">Glaucia Guenkawa</h3>
          <div class="role">Co-idealizadora do projeto</div>
          <div class="image"> <img class="replace-2x" src="content/img/team-2.jpg" alt="" title="" width="270" height="270"> </div>
          <div>
            <p>"O projeto Nihongo Ninja veio como uma oportunidade de ajudar aos estrangeiros."</p>
            <div class="contact"><b>Email: </b>@nihongoninja.jp</div>
          </div>
          <div class="social"> 
            <a class="icon rounded" href="index.html#"> <span class="icon-facebook"><i class="fafa-facebook"></i></span> </a> 
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>