<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row sidebar">
          <aside class="col-xs-12 col-sm-6 col-md-4 widget links">
            <div class="title-block">
              <h3 class="title">Menu</h3>
            </div>
            <nav>
              <ul>
                <li><a class="scroll" href="index.html#home">Home</a></li>	
                <li><a class="scroll" href="index.html#projeto">Projeto</a></li>
                <li><a class="scroll" href="index.html#equipe">Equipe</a></li>
                <li><a class="scroll" href="index.html#cursos">Cursos</a></li>         
              </ul>
            </nav>
          </aside>
          <!-- .newsletter -->
          <aside class="col-xs-12 col-sm-6 col-md-8 widget social">
            <div class="title-block">
              <h3 class="title">Siga-nos </h3>
            </div>
            <p>Siga-nos nas redes sociais</p>
            <div class="social-list"> 
              <a class="icon rounded icon-facebook" href="index.html#"><i class="fa fa-facebook"></i></a> 
              <a class="icon rounded icon-google" href="index.html#"><i class="fa fa-youtube"></i></a> 
            </div>
            <div class="clearfix"></div>
          </aside>
        </div>
      </div>
    </div>
    <!-- .footer-top -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-1 col-md-1"> 
            <a href="index.html#" class="up alignleft"> <span class="glyphicon glyphicon-arrow-up"></span> </a> 
          </div>
          <div class="copyright col-xs-12 col-sm-11 col-md-11" align="right" style="margin-top: 10px;">
            Copyright 2017 ©  New Start Institute LLC 
          </div>     
        </div>
      </div>
    </div>
    <!-- .footer-bottom --> 
  </footer>