
<section id="projeto" class="full-width-box cm-padding-bottom-36">

  <header class="page-header">
    <div class="container">
      <h1 class="title">Projeto</h1> 
    </div>
  </header>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 bottom-padding ">
        <p class="lead"><strong>CONHEÇA O PROJETO NIHONGO NINJA.</strong></p>
        <p>O Nihongo Ninja é uma plataforma de ensino é no sistema “e-learning” voltado para o aprendizado do Japonês. Aprenda de forma rápida com um sistema de aprendizado contínuo, com um processo adaptado para que o nosso cérebro entenda de uma maneira mais fácil e prazerosa.</p>
        <a class="gallery-images" rel="fancybox" href="content/img/metodologia.png">
          <p>Conheça nossa metodologia</p>
        </a><br><br>
        <a href="https://www.youtube.com/channel/UCEMITsAeJEPnSaVpJKV0rGg/videos" class="btn btn-default" target="new"> CONTEÚDO GRÁTIS</a> 
      </div>
      <div class="col-sm-6 col-md-6 cm-padding-bottom-36">
        <div class="video-box">
          <iframe src="https://player.vimeo.com/video/248306274" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <header class="page-header">
    <div class="container">
      <h1 class="title">Benefícios</h1>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="big-services-box col-sm-4 col-md-4"> 
        <a href="/">
          <div class="big-icon bg bg-success" data-appear-animation="fadeInUp">
            <div class="livicon block" data-n="calendar" data-s="58" data-op="0" data-c="#fff" data-hc="0"></div>
          </div>
          <h4 class="title">Conveniência</h4>
          <div class="text-small">Você vai descobrir porque o sistema Nihongo Ninja é eficaz para o aprendizado, acesse a qualquer momento no seu horário vago.
          </div>
        </a> 
      </div>

      <div class="big-services-box col-sm-4 col-md-4"> 
        <a href="/">
          <div class="big-icon bg bg-info" data-appear-animation="fadeInUp">
            <div class="livicon block" data-n="laptop" data-s="60" data-op="0" data-c="#fff" data-hc="0"></div>
          </div>
          <h4 class="title">Metodologia Eficaz</h4>
          <div class="text-small">Aprenderá um método de estudo envolvendo as áreas da psicologia, lingüística e pedagogia.</div>
        </a> 
      </div>

      <div class="big-services-box col-sm-4 col-md-4"> 
        <a href="/">
          <div class="big-icon bg bg-warning" data-appear-animation="fadeInUp">
            <div class="livicon block" data-n="rocket" data-s="60" data-op="0" data-c="#fff" data-hc="0"></div>
          </div>
          <h4 class="title">Rápido Aprendizado</h4>
          <div class="text-small">Você vai aprender como memorizar de uma maneira mais rápida e prazerosa obtendo resultados rápidos.</div>
        </a> 
      </div>
    </div>

  </div>
</section>


