<div id="cm-home-promo-section" class="full-width-box">
  <div class="fwb-bg fwb-paralax band-9" data-speed="2">
    <div class="overlay"></div>
  </div>
  <div class="container">
    <div class="white text-center">
      <div class="title-box text-center title-white">
        <h1 >Comece hoje mesmo seus estudos de Nihongo!</h1>
        <h1 class="title no-top-padding"> Siga o cominho certo do aprendizado, com uma boa estratégia, um sistema de memorização avançado e um processo de estudo. Não tem como dar errado!</h1> 
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>