<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Nihongo Ninja</title>
		<meta name="keywords" content="HTML5 Template">
		<meta name="description" content="Progressive — Responsive Multipurpose HTML Template">
		<meta name="author" content="itembridge.com">
		<meta class="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- Favicon -->
		<link rel="shortcut icon" href="img/favicon.ico">
		<link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
		<!-- Font -->
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic'>
		<!-- Plugins CSS -->
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/jslider.css">
		<link rel="stylesheet" href="css/revslider/settings.css">
		<link rel="stylesheet" href="css/jquery.fancybox.css">
		<link rel="stylesheet" href="css/animate.css">
		<link rel="stylesheet" href="css/video-js.min.css">
		<link rel="stylesheet" href="css/morris.css">
		<link rel="stylesheet" href="css/royalslider/royalslider.css">
		<link rel="stylesheet" href="css/royalslider/skins/minimal-white/rs-minimal-white.css">
		<link rel="stylesheet" href="css/layerslider/css/layerslider.css">
		<link rel="stylesheet" href="css/ladda.min.css">
		<link rel="stylesheet" href="css/datepicker.css">
		<link rel="stylesheet" href="css/jquery.scrollbar.css">
		<!-- Theme CSS -->
		<link rel="stylesheet" href="css/style.css">
		<!-- Custom CSS -->
		<link rel="stylesheet" href="css/customizer/pages.css">
		<link rel="stylesheet" href="css/customizer/home-pages-customizer.css">
		<!-- IE Styles-->
		<link rel='stylesheet' href="css/ie/ie.css">
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<link rel='stylesheet' href="css/ie/ie8.css">
		<![endif]-->
	</head>

<body class="one-page fixed-header">
	<div class="page-box">
		<div class="page-box-content">
			<header class="header header-two">
				<div class="header-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-xs-6 col-md-2 col-lg-3 logo-box">
								<div class="logo"> 
									<a href="/"> 
										<img src="img/logo.png" class="logo-img" alt="Nihongo Ninja"> 
									</a> 
								</div>
							</div>
							<!-- .logo-box -->
							<div class="col-xs-6 col-md-10 col-lg-9 right-box">
								<div class="right-box-wrapper">
									<div class="header-icons"> 
									<!-- .search-header-->
										<div class="phone-header hidden-600"> 
											<a href="aprenda-katakana.html#">
												<svg x="0" y="0" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
													<path d="M11.001,0H5C3.896,0,3,0.896,3,2c0,0.273,0,11.727,0,12c0,1.104,0.896,2,2,2h6c1.104,0,2-0.896,2-2
							c0-0.273,0-11.727,0-12C13.001,0.896,12.105,0,11.001,0z M8,15c-0.552,0-1-0.447-1-1s0.448-1,1-1s1,0.447,1,1S8.553,15,8,15z
							M11.001,12H5V2h6V12z"></path>
													<image src="img/png-icons/phone-icon.png" alt="" width="16" height="16" style="vertical-align: top;">
												</svg>
											</a> 
										</div>
									<!-- .phone-header --> 
									</div>
									<!-- .header-icons -->
									<div class="primary">
										<div class="navbar navbar-default" role="navigation">
											<button type="button" class="navbar-toggle btn-navbar collapsed" data-toggle="collapse" data-target=".primary .navbar-collapse"> <span class="text">Menu</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> 
											</button>
											<nav class="collapse collapsing navbar-collapse">
												<ul class="nav navbar-nav navbar-center">
													<li class=""> <a href="/" target="_parent" class="">Home</a></li>
													<li><a href="/#projeto" target="_parent" class="">Projeto</a></li>
													<li><a href="/#equipe" target="_parent" class="">Equipe</a></li>
													<li><a href="/#cursos" target="_parent" class="">Cursos</a></li>
													<li><a href="/#contato" target="_parent" class="">Contato</a></li>
												</ul>
											</nav>
										</div>
									</div>
								<!-- .primary --> 
								</div>
							</div>
							<div class="phone-active col-sm-9 col-md-9"> 
								<a href="aprenda-katakana.html#" class="close">
									<span>fechar</span>×
								</a> 
								<span class="title">Ligue já</span> <strong>052-887-4471</strong> 
							</div>
							<div class="search-active col-sm-9 col-md-9"> 
								<a href="aprenda-katakana.html#" class="close"><span>fechar</span>×</a>
							</div>
						</div>
						<!--.row --> 
					</div>
				</div>
				<!-- .header-wrapper --> 
			</header>
			<!-- .header -->
				<div class="clearfix"></div>
				<div id="main" class="page">
					<header class="page-header"><br>
						<div class="container">
							<h1 class="title">Curso: Aprenda o Hiragana</h1>
						</div>	
					</header>
		
					<div class="container">
						<div class="row">
							<article class="content product-page col-sm-12 col-md-12">
								<div class="row">
									<div class="col-sm-5 col-md-6">
										<div class="video-box">
											<iframe src="https://player.vimeo.com/video/248314177" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
										</div>     
									</div>
									<div class="col-sm-7 col-md-5">	
									<div class="description">
										<p class="lead">Curso aprenda de vez o Hiragana em 20 aulas com sistema de memorização utilizando o método de ensino "Nihongo Ninja". Com leitura, escrita e exercícios práticos.<br><br><strong>Memorização de 100 vocabulários + Apostila (e-book)!</strong></p>
									</div>
									<div class="price-box">
										<span class="price-old">¥24.400</span> por apenas:
										<span class="price h3">¥8.000</span>
									</div>
									<button class="btn btn-default btn-lg" data-toggle="modal" data-target="#modal-1" style="width: 240px;  margin-bottom: 7px; padding: 6px;"><strong>Pague no Cartão </strong><br><small>(PayPal: Visa, Master, American)</small></button>
							
									<button class="btn btn-default btn-lg" data-toggle="modal" data-target="#boleto" style="width: 240px; margin-bottom: 5px; padding: 6px;"><strong>Boleto ou Depósito </strong><br><small>(Apenas no Japão)</small></button>

									<div class="modal fade" id="modal-1" tabindex="-1" role="dialog" aria-labelledby="modalLabel-1" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<a href="aprenda-katakana.html#" class="close" data-dismiss="modal" aria-hidden="true">×</a>
													<div class="title-box">
														<h4 class="title">Pagamento com Cartão (Paypal)</h4>
													</div>
												</div>
												<div class="modal-body  aligncenter"><br>
													<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
													<input type="hidden" name="cmd" value="_xclick">
													<input type="hidden" name="business" value="finance@newstart.jp">
													<input type="hidden" name="lc" value="JP">
													<input type="hidden" name="item_name" value="Aprenda o Hiragana">
													<input type="hidden" name="item_number" value="8C82FC5">
													<input type="hidden" name="amount" value="8000">
													<input type="hidden" name="currency_code" value="JPY">
													<input type="hidden" name="button_subtype" value="services">
													<input type="hidden" name="no_note" value="0">
													<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
													<input type="image" src="https://www.paypalobjects.com/en_US/JP/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
													<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
												</form>
											</div>
										</div>
									</div>
								</div>
				
								<div class="modal fade" id="boleto" tabindex="-1" role="dialog" aria-labelledby="modalLabel-1" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<a href="aprenda-katakana.html#" class="close" data-dismiss="modal" aria-hidden="true">×</a>
												<div class="title-box">
												<h4 class="title">Pagamento por boleto ou depósito (Disponível somente no Japão)</h4>
											</div>
										</div>
										<div class="modal-body"><br>
											<form class="form-box register-form contact-form" action="https://leadlovers.com/Pages/Index/163936" method="post" >  
												<input id="id" name="id" type="hidden" value="163936" >  
												<input id="pid" name="pid" type="hidden" value="5477925" >  
												<input id="list_id" name="list_id" type="hidden" value="163936" >  
												<input id="provider" name="provider" type="hidden" value="leadlovers" >   
												<label for="name">Nome Completo:</label>   
												<input class="form-control" id="name" name="name" placeholder="Informe o seu nome" type="text" > 
												<label for="email">E-mail:</label>   
												<input class="form-control" id="email" name="email" placeholder="Informe o seu email" type="text" >   
												<label for="phone">Telefone:</label>   
												<input class="form-control" id="phone" name="phone" placeholder="Informe o telefone" type="text" > 
												<label for="birthdate">Nascimento:</label>   
												<input class="form-control" id="birthdate" name="birthdate" placeholder="Informe a data de nascimento" type="text"> 
													
												<label for="state">Código Postal:</label>   
												<input class="form-control" id="state" name="state" placeholder="Informe seu código postal" type="text" > 	
												<label for="city">Endereço:</label>   
												<input class="form-control" id="city" name="city" placeholder="Informe o seu endereço" type="text" >   
				
												<button class="btn btn-danger" style="padding: 10px 40px; margin:15px 0 5px; background-color: rgba(240, 159, 9, 1); border-color: rgba(240, 159, 9, 1) !important; " type="submit">Envie seus dados</button>  
												<input type="hidden" id="source" name="source" value="">  
												<img src="https://llimages.com/redirect/redirect.aspx?A=V&p=5477925&m=163936" style="display: none;">
											</form>
										</div>
									</div>
								</div>
							</div>
						<!-- .actions -->
						</div>
					</div>
				
					<div class="product-tab">
						<ul class="nav nav-tabs">
							<li class="active"><a href="aprenda-katakana.html#introducao">Introdução</a></li>
							<li><a href="aprenda-katakana.html#cronograma">Cronograma de Aulas</a></li>
							<li><a href="aprenda-katakana.html#pagamento">Formas de Pagamento</a></li>
						</ul><!-- .nav-tabs -->	
						<div class="tab-content">
							<div class="tab-pane active " id="introducao"> <!-- tab  introducao  -->
								<p><strong>Curso:</strong> Aprenda o Hiragana<br> <strong>Conteúdo:</strong> 22 módulos em 20 aulas </p>
								<p>Curso completo do Hiragana + Mini-curso de memorização de 100 vocabulários + Apostila (e-book) do Aprenda o Hiragana.</p>
							</div>
							<div class="tab-pane" id="cronograma"><!-- tab  cronograma  -->
								<div class="content product-page col-sm-6 col-md-6">
									<h5 class="title">AULA 1</h5>	
									<ul>
										<li>1º dia - Vídeo-aula geral "a"</li>
										<li>2º dia - Vídeo-aulas revisões / Caderno de exercícios</li>
									</ul>
									<h5 class="title">AULA 2</h5>	
									<ul>
										<li>3º dia - Vídeo-aula geral "ka"</li>
										<li>4º dia - Vídeo-aulas revisões / Caderno de exercícios</li>
									</ul>
									<h5 class="title">AULA 3</h5>	
									<ul>
										<li>5º dia - Vídeo-aula geral "sa"</li>
										<li>6º dia - Vídeo-aulas revisões / Caderno de exercícios</li>
									</ul>
									<h5 class="title">AULA 4</h5>	
									<ul>
										<li>7º dia - Vídeo-aula geral "ta"</li>
										<li>8º dia - Vídeo-aulas revisões / Caderno de exercícios</li>
									</ul>
									<h5 class="title">AULA 5</h5>	
									<ul>
										<li>9º dia - Vídeo-aula geral "na"</li>
										<li>10º dia - Vídeo-aulas revisões / Caderno de exercícios</li>
									</ul>
									<h5 class="title">AULA 6</h5>	
									<ul>
										<li>11º dia - Vídeo-aula geral "ha"</li>
										<li>12º dia - Vídeo-aulas revisões / Caderno de exercícios</li>
									</ul>
									<h5 class="title">AULA 7</h5>	
									<ul>
										<li>13º dia - Vídeo-aula geral "ma"</li>
										<li>14º dia - Vídeo-aulas revisões / Caderno de exercícios</li>
									</ul>
									<h5 class="title">AULA 8</h5>	
									<ul>
										<li>15º dia - Vídeo-aula geral "ya"</li>
										<li>16º dia - Vídeo-aulas revisões / Caderno de exercícios</li>
									</ul>				
									<h5 class="title">AULA 9</h5>	
									<ul>
										<li>17º dia - Vídeo-aula geral "ra"</li>
										<li>18º dia - Vídeo-aulas revisões / Caderno de exercícios</li>
									</ul>				
									<h5 class="title">AULA 10</h5>	
									<ul>
										<li>19º dia - Vídeo-aula geral "wa"</li>
										<li>20º dia - Vídeo-aulas revisões / Caderno de exercícios</li>
									</ul>				
								</div>	
							
								<div class="content product-page col-sm-6 col-md-6">
									<h5 class="title">AULA 11</h5>	
									<ul>
										<li>21º dia - Vídeo-aula geral "ga"</li>
										<li>22º dia - Vídeo-aulas revisões / Caderno de exercícios</li>
									</ul>
									<h5 class="title">AULA 12</h5>	
									<ul>
										<li>23º dia - Vídeo-aula geral "za"</li>
										<li>24º dia - Vídeo-aulas revisões / Caderno de exercícios</li>
									</ul>
									<h5 class="title">AULA 13</h5>	
									<ul>
										<li>25º dia - Vídeo-aula geral "da"</li>
										<li>26º dia - Vídeo-aulas revisões / Caderno de exercícios</li>
									</ul>
									<h5 class="title">AULA 14</h5>	
									<ul>
										<li>27º dia - Vídeo-aula geral "ba"</li>
										<li>28º dia - Vídeo-aulas revisões / Caderno de exercícios</li>
									</ul>
									<h5 class="title">AULA 15</h5>	
									<ul>
										<li>29º dia - Vídeo-aula geral "pa"</li>
										<li>30º dia - Vídeo-aulas revisões / Caderno de exercícios</li>
									</ul>
									<h5 class="title">AULA 16</h5>	
									<ul>
										<li>31º dia - Vídeo-aula geral "kya"</li>
										<li>32º dia - Vídeo-aulas revisões / Caderno de exercícios</li>
									</ul>
									<h5 class="title">AULA 17</h5>	
									<ul>
										<li>33º dia - Vídeo-aula geral "sha"</li>
										<li>34º dia - Vídeo-aulas revisões / Caderno de exercícios</li>
									</ul>
									<h5 class="title">AULA 18</h5>	
									<ul>
										<li>35º dia - Vídeo-aula geral "cha"</li>
										<li>36º dia - Vídeo-aulas revisões / Caderno de exercícios</li>
									</ul>				
									<h5 class="title">AULA 19</h5>	
									<ul>
										<li>37º dia - Vídeo-aula geral "hya"</li>
										<li>38º dia - Vídeo-aulas revisões / Caderno de exercícios</li>
									</ul>				
									<h5 class="title">AULA 20</h5>	
									<ul>
										<li>39º dia - Vídeo-aula geral "nya"</li>
										<li>40º dia - Vídeo-aulas revisões / Caderno de exercícios</li>
									</ul>	<br><br>			
								</div>
							</div>
							
							<div class="tab-pane" id="pagamento"> <!-- tab  pagamento  -->
								<h5 class="title">Pagamento com cartão de crédito (Paypal)</h5>
								<p>
									- Visa, MasterCard, JCB, American Express<br>
								</p>
									<h5 class="title">Pagamento por boleto ou depósito (Disponível somente no Japão) </h5>
								<p>
									- Boleto para pagamento nas agências dos correios (ゆうちょ銀行)<br>
									- Pagamento na porta<br>
									- Depósito bancário
								</p>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</article><!-- .content -->
			</div>
		</div>
	</div>		
		
			<div id="cm-home-promo-section" class="full-width-box">
				<div class="fwb-bg fwb-paralax band-9" data-speed="2">
					<div class="overlay"></div>
				</div>
				<div class="container">
					<div class="white text-center">
						<div class="title-box text-center title-white">
							<h1 >Comece hoje mesmo seus estudos de Nihongo!</h1>
							<h1 class="title no-top-padding"> Siga o cominho certo do aprendizado, com uma boa estratégia, um sistema de memorização avançado e um processo de estudo. Não tem como dar errado!</h1> 
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		<!-- #contact-us --> 
		</div>
  <!-- .page-box-content --> 
	</div>
<!-- .page-box -->

	<footer id="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row sidebar">
					<aside class="col-xs-12 col-sm-6 col-md-4 widget links">
						<div class="title-block">
							<h3 class="title">Menu</h3>
						</div>
						<nav>
							<ul>
								<li><a href="index.html" target="_parent" class="">Home</a></li>	
								<li><a href="index.html#projeto" target="_parent" class="">Projeto</a></li>
								<li><a href="index.html#equipe" target="_parent" class="">Equipe</a></li>
								<li><a href="index.html#cursos" target="_parent" class="">Cursos</a></li>
							</ul>
						</nav>
					</aside>
					<!-- .newsletter -->  
					<aside class="col-xs-12 col-sm-6 col-md-8 widget social">
						<div class="title-block">
							<h3 class="title">Siga-nos </h3>
						</div>
						<p>Siga-nos nas redes sociais</p>
						<div class="social-list"> <a class="icon rounded icon-facebook" href="aprenda-katakana.html#"><i class="fa fa-facebook"></i></a> <a class="icon rounded icon-google" href="aprenda-katakana.html#"><i class="fa fa-youtube"></i></a> </div>
						<div class="clearfix"></div>
					</aside>
				</div>
			</div>
		</div>
		<!-- .footer-top -->
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-1 col-md-1"> <a href="aprenda-katakana.html#" class="up alignleft"> <span class="glyphicon glyphicon-arrow-up"></span> </a> </div>
					<div class="copyright col-xs-12 col-sm-11 col-md-11" align="right" style="margin-top: 10px;">  
					Copyright 2017 ©  New Start Institute LLC 
					</div>  
				</div>
			</div>
		</div>
		<!-- .footer-bottom --> 
	</footer>


<!--[if (!IE)|(gt IE 8)]><!--> 
<!-- <script src="js/jquery-3.0.0.min.js"></script> -->
<!--<![endif]--> 

<!--[if lte IE 8] -->
<script src="js/jquery-1.9.1.min.js"></script>

<script src="js/bootstrap.min.js"></script> 
<script src="js/price-regulator/jshashtable-2.1_src.js"></script> 
<script src="js/price-regulator/jquery.numberformatter-1.2.3.js"></script> 
<script src="js/price-regulator/tmpl.js"></script> 
<script src="js/price-regulator/jquery.dependClass-0.1.js"></script> 
<script src="js/price-regulator/draggable-0.1.js"></script> 
<script src="js/price-regulator/jquery.slider.js"></script> 
<script src="js/jquery.carouFredSel-6.2.1-packed.js"></script> 
<script src="js/jquery.touchwipe.min.js"></script> 
<script src="js/jquery.elevateZoom-3.0.8.min.js"></script> 
<script src="js/jquery.imagesloaded.min.js"></script> 
<script src="js/jquery.appear.js"></script> 
<script src="js/jquery.sparkline.min.js"></script> 
<script src="js/jquery.easypiechart.min.js"></script> 
<script src="js/jquery.easing.1.3.js"></script> 
<script src="js/jquery.fancybox.pack.js"></script> 
<script src="js/isotope.pkgd.min.js"></script> 
<script src="js/jquery.knob.js"></script> 
<script src="js/jquery.selectBox.min.js"></script> 
<script src="js/jquery.royalslider.min.js"></script> 
<script src="js/jquery.tubular.1.0.js"></script> 
<script src="js/SmoothScroll.js"></script> 
<script src="js/country.js"></script> 
<script src="js/spin.min.js"></script> 
<script src="js/ladda.min.js"></script> 
<script src="js/masonry.pkgd.min.js"></script> 
<script src="js/morris.min.js"></script> 
<script src="js/raphael.min.js"></script> 
<script src="js/video.js"></script> 
<script src="js/pixastic.custom.js"></script> 
<script src="js/livicons-1.4.min.js"></script> 
<script src="js/layerslider/greensock.js"></script> 
<script src="js/layerslider/layerslider.transitions.js"></script> 
<script src="js/layerslider/layerslider.kreaturamedia.jquery.js"></script> 
<script src="js/revolution/jquery.themepunch.tools.min.js"></script> 
<script src="js/revolution/jquery.themepunch.revolution.min.js"></script> 
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
	(Load Extensions only on Local File Systems !
	The following part can be removed on Server for On Demand Loading) --> 
<script src="js/revolution/extensions/revolution.extension.actions.min.js"></script> 
<script src="js/revolution/extensions/revolution.extension.carousel.min.js"></script> 
<script src="js/revolution/extensions/revolution.extension.kenburn.min.js"></script> 
<script src="js/revolution/extensions/revolution.extension.layeranimation.min.js"></script> 
<script src="js/revolution/extensions/revolution.extension.migration.min.js"></script> 
<script src="js/revolution/extensions/revolution.extension.navigation.min.js"></script> 
<script src="js/revolution/extensions/revolution.extension.parallax.min.js"></script> 
<script src="js/revolution/extensions/revolution.extension.slideanims.min.js"></script> 
<script src="js/revolution/extensions/revolution.extension.video.min.js"></script> 
<script src="js/bootstrapValidator.min.js"></script> 
<script src="js/bootstrap-datepicker.js"></script> 
<script src="js/jplayer/jquery.jplayer.min.js"></script> 
<script src="js/jplayer/jplayer.playlist.min.js"></script> 
<script src="js/jquery.scrollbar.min.js"></script> 
<script src="js/main.js"></script>

	
<!-- WhatsHelp.io widget -->
<script type="text/javascript">
	(function () {
		var options = {
			facebook: "944238638944400", // Facebook page ID
			whatsapp: "+81 90-6099-0779", // WhatsApp number
			call: "052-887-4471", // Call phone number
			company_logo_url: "//storage.whatshelp.io/widget/33/33c2/33c2c9dd4024915771ce1845cd1bd32f/10152433_944238915611039_1859266282808631886_n.jpg", // URL of company logo (png, jpg, gif)
			greeting_message: "Envie uma mensagem para nossa equipe.", // Text of greeting message
			call_to_action: "", // Call to action
			button_color: "#e96d00", // Color of button
			position: "right", // Position may be 'right' or 'left'
			order: "facebook,whatsapp,call" // Order of buttons
		};
		var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
		var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
		s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
		var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
	})();
</script>
<!-- /WhatsHelp.io widget -->


</body>
</html>